<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.sellio.pos"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:name=".SellioApplication"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">

		<activity android:name=".ui.activity.SignUpActivity"></activity>
		<activity
			android:name=".ui.activity.LoginActivity"
			android:label="@string/title_activity_login" />

		<activity
			android:name=".ui.activity.MainActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity
			android:name=".ui.activity.SplashScreenActivity"
			android:launchMode="singleTop"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="org.achartengine.GraphicalActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".ui.activity.SaleDetailActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".ui.activity.AboutActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".ui.activity.ProductDetailActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".ui.activity.AddStockActivity"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Dialog" />
	</application>

</manifest>